<h2><%= link_to "Edit", edit_recipe_path(@recipe) %></h2>
<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :img_url %>
  <%= f.label_field :img_url %>
  <%= f.submit %>

<% end %>
