<h1>Homecooked Recipes</h1>

<h2>New Recipes <%=link_to "(+)", new_recipe_path%></h2>

<% @recipes.each do |recipe| %>

  <div>
    <h2><a href="<%= recipe_path(recipe)%>"><%=recipe.name%></a></h2>
    <img src="<%= recipe.img_url %>">
    <p><%= link_to recipe.name, recipe %></p>
    <p><%= link_to 'Delete Recipe', recipe_path(recipe),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></p>

  </div>

<% end %>
