<h1>Homemade Recipes</h1>
<hr>
<%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-primary'%>
<% @recipes.each do |recipe| %>

  <div>
      <h2><a href="<%= recipe_path(recipe)%>"><%=recipe.name%></a></h2>
      <img src="<%= recipe.img_url %>">
      <p><%= link_to recipe.name, recipe %></p>

     <hr>
  </div>


<% end %>
