<%#<h2><%= link_to "Edit", recipe_path(@recipe) %>

<td><%= link_to "Back", recipe_path, class:'btn btn-info' %></td>
<td><%= link_to "Edit", new_recipe_path(@recipe), class:'btn btn-warning'%></td>
<td><%= link_to "Delete", @recipe, method: :delete, data: {confirm: "Delete Recipe?"}, class:'btn btn-danger'%></td>


<% @recipe.ingredients.each do |ingredient| %>
<p>
  <%= link_to ingredient.name, ingredient %>
</p>
<% end %>
